@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    --primary_colour: #f37474;
    --text: #ffffffe5;

}
body{
    background-image: url(./Images/backdrop.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--primary_colour);
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--text);
}
a:hover{
    opacity: 0.8;
    transition: all ease-in-out 1s;
}
header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
header h1{
     font-size: 2rem;
     color: var(--text);
}
.bite{
    color: var(--primary_colour);
}
.noBreak{
    white-space: nowrap;
}
section.input_form{
    margin-top: 10rem;
}
section.input_form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}
section.input_form form input{
    width: 50%;
    height: 3rem;
    background-color: var(--text);
    
    border-radius: 1.5rem;
    padding: 1.2rem;
    box-shadow: 1rem 0.5rem 1rem 0.5rem black;
}
section.input_form form button{
    width: 20%;
    height: 3rem;
    background-color: var(--primary_colour);
    color: var(--text);
    border-radius: 1.2rem;
    padding: 0.5rem;
    box-shadow: 1rem 0.5rem 1rem 0.5rem black;
    font-size: 1.2rem;
}
section.input_form form button:hover{
    opacity: 0.8;
    transition: all ease-in-out 1s;
}

@media screen and (max-width:700px) {
    header{
    padding: 2.5rem;
    }
    section.input_form{
    margin-top: 5rem;
}
}
@media screen and (max-width:520px) {
    header{
        padding: 2rem;
    }
      section.input_form{
    margin-top: 3rem;
}
    header h1{
     font-size: 1.2rem; 
}
a{
    font-size: 1rem;
    border-radius: 0.7rem;
    padding: 0.5rem;
}
section.input_form form{
    gap: 0.8rem;
    margin: 1rem;
    
}
section.input_form form input{
    width: 70%;
    height: 2rem;
    
    border-radius: 1rem;
    padding: 1rem;
}
section.input_form form button{
    width: 50%;
    height: 3rem;
    border-radius: .8rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}
}
@media screen and (max-width:375px) {
    header{
        padding: 1.5rem;
    }
      section.input_form{
    margin-top: 2rem;
}
    header h1{
     font-size: 1rem; 
}
a{
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
section.input_form form{
    gap: 0.5rem;
    margin: 1rem;
    
}
section.input_form form input{
    width: 70%;
    height: 2rem;
    
    border-radius: 1rem;
    padding: 1rem;
}
section.input_form form button{
    width: 50%;
    height: 3rem;
    border-radius: .8rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}
}