/* CSS reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    --primary_colour: #f37474;
    --text: #ffffffe5;

}
.hidden{
    visibility: hidden;
}
a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--primary_colour);
    border-radius: 1rem;
    padding: 0.5rem;
    color: var(--text);
}
a:hover{
    opacity: 0.8;
    transition: all ease-in-out 1s;
}
img{
    display: block;
}
span.bite{
    color: var(--primary_colour);
}
.backdrop{
height: 100vh;
    width: 100%;
    background: url(./Images/backdrop.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 3rem;
   position: relative;
}
.backdrop::after{
     content: "";
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 10px 50px 20px black inset -10px 50px -20px black;
}
header{
    display:  flex;
    justify-content: space-between;
    color: var(--text);
    z-index: 2;
    height: 10%;
    align-items: center;
}
header h1{
     font-size: 2rem;
}
.noBreak{
    white-space: nowrap;
}
.menu{
    height: 80%;
    z-index: 2;
 display:  flex;
 flex-direction: column;
    color: var(--text);
    font-size: 2rem;
    z-index: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.7rem;
    
}
header h1, header a, .menu h2, .menu a, .menu p{
    z-index: 2;
}
.menu .menu_link{
    z-index: 3;
}

/* Sign Up */
.signup_container{
    background-image: url(./Images/backdrop.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.signup_container::after{
     content: "";
    background-color: rgba(0, 0, 0,0.3);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 120px 250px 120px black;
}
section.input_form{
    min-width: 300px;
    background-color: var(--text);
    height: 50%;
    border-radius: 1.5rem;
    padding: 1.2rem;
    box-shadow: 1rem 0.5rem 1rem 0.5rem black;
    

}
section.input_form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 3;
    
}
 input[type="email"],input[type="password"]{
    width: 95%;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 3;
 }
 input[type="submit"]{
    background-color: var(--primary_colour);
    color: var(--text);
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0.5rem;
    width: 50%;
    cursor: pointer;
    z-index: 3;
 }
section.input_form form p{
    font-weight: 800;
    z-index: 3;
}
section.input_form form a{
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--primary_colour);
    text-decoration: underline;
    z-index: 3;
}


/* Menu Section */
section.menu_section{
    background-color: rgb(223, 218, 210);
    color: var(--primary_colour);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding: 3rem;
}
section.menu_section a{
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    padding-top: 0.7rem;

    text-align: center;
    align-self: center;
}

section.menu_section h2{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    font-weight: 800;
}

.menu_container{
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 10px;
    justify-content: center;
    
}
.menu_card{
    border: 2px solid rgb(240, 207, 188);
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #e4d9d927;
    border-radius: 20px;
  
    
}
.menu_card img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.menu_card p{
    font-size: 2rem;
    text-align: center;
}
sup{
    font-size: 1rem;
    color: green;
}
.menu_card select, .menu_card input{
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid var(--primary_colour);
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

































/* Media Queries */

@media screen and (max-width: 730px) {
 .menu{
    font-size: 1.8rem;
    gap: 0.5rem;
    height: 90%;
}
}
@media screen and (max-width:640px) {
    a{
    font-size: 1.5rem;
    padding: 0.6rem;
    border-radius: 0.7rem;
    
}
    .backdrop{
   padding: 2rem;
   
}
    header h1{
     font-size: 2rem;
}
.menu{
    font-size: 1.8rem;

}
section.menu_section{
    padding: 2rem;
}
section.menu_section h2{
    font-size: 1.8rem;
    
}
}
@media screen and (max-width:520px) {
    a{
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    
}
    .backdrop{
   padding: 1.7rem;
   
}
    header h1{
     font-size: 1.5rem;
}
.menu{
    font-size: 1.5rem;

}
section.input_form{
    height: 40%;
}
section.menu_section{
    padding: 1.7rem;
}
.menu_container{
    padding: 1.2rem;

    
}
}
@media screen and (max-width:375px) {
    a{
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    
}
    .backdrop{
   padding: 1.5rem;
   
}
    header h1{
     font-size: 1.2rem;
}
.menu{
    font-size: 1.2rem;

}
.signup_container h1,.signup_container a {
font-size: 1.5rem;
}
section.menu_section{
    padding: 1.5rem;
}
.menu_container{
    padding: 1rem;

    
}
}